
<form action="/payment/results">
  <label for="user_apr">APR</label>
  <input id="user_apr" type="text" placeholder="E.g. 5.42" name="user_apr">

  <label for="user_years">Number of years</label>
  <input id="user_years" type="text" placeholder="How many years to repay?" name="user_years">

  <label for="user_principal">Principal</label>
  <input id="user_principal" type="text" placeholder="How much principal?" name="user_principal">

  <button>Calculate monthly payment</button>
</form>